![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/58563302-42466a80-8201-11e9-9948-b3e9f88a5662.jpg"
    style="width:400px; float: right; margin: 0 40px 40px 40px;"></img>

### Project

# Bike store sales

Let's put in practice the topics covered in the course and analyze sales made in a Bike Shop.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
import numpy as np
import pandas as pd

In [4]:
sales = pd.read_csv('data/sales_data.csv')
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              5000 non-null   object
 1   Day               5000 non-null   int64
 2   Month             5000 non-null   object
 3   Year              5000 non-null   int64
 4   Customer_Age      5000 non-null   int64
 5   Customer_Gender   5000 non-null   object
 6   Country           5000 non-null   object
 7   State             5000 non-null   object
 8   Product_Category  5000 non-null   object
 9   Sub_Category      5000 non-null   object
 10  Product           5000 non-null   object
 11  Order_Quantity    5000 non-null   int64
 12  Unit_Cost         5000 non-null   int64
 13  Unit_Price        5000 non-null   int64
 14  Profit            5000 non-null   int64
 15  Revenue           5000 non-null   int64
dtypes: int64(8), object(8)
memory usage: 625.1+ KB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### First look at our data

Analyze what columns we have, what type they are and what data is on them.

In [5]:
sales.shape

(5000, 16)

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              5000 non-null   object
 1   Day               5000 non-null   int64
 2   Month             5000 non-null   object
 3   Year              5000 non-null   int64
 4   Customer_Age      5000 non-null   int64
 5   Customer_Gender   5000 non-null   object
 6   Country           5000 non-null   object
 7   State             5000 non-null   object
 8   Product_Category  5000 non-null   object
 9   Sub_Category      5000 non-null   object
 10  Product           5000 non-null   object
 11  Order_Quantity    5000 non-null   int64
 12  Unit_Cost         5000 non-null   int64
 13  Unit_Price        5000 non-null   int64
 14  Profit            5000 non-null   int64
 15  Revenue           5000 non-null   int64
dtypes: int64(8), object(8)
memory usage: 625.1+ KB

In [7]:
sales.head()

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue
0,2014-03-05,5,March,2014,34,M,United States,California,Accessories,Fenders,Fender Set - Mountain,27,8,22,366,582
1,2013-08-18,18,August,2013,31,F,Canada,British Columbia,Clothing,Vests,"Classic Vest, L",13,24,64,512,824
2,2014-02-04,4,February,2014,31,F,United States,Washington,Bikes,Touring Bikes,"Touring-1000 Yellow, 54",1,1482,2384,378,1860
3,2013-09-09,9,September,2013,33,M,Australia,Victoria,Accessories,Tires and Tubes,LL Road Tire,25,8,21,215,415
4,2016-05-16,16,May,2016,35,F,United States,Washington,Accessories,Tires and Tubes,Mountain Tire Tube,28,2,5,53,109

In [ ]:
sales.tail()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Fixing column types

- Cast `Date` to `datetime`.
- Cast `Customer_Gender`, `Country`, `State`, `Product_Category` and `Sub_Category` to `category`.

In [10]:
# your code goes here
# this does not work: sales['Date'].astype('datetime')

sales['Date'] = pd.to_datetime(sales['Date'])

In [20]:
sales['Customer_Gender'] = sales['Customer_Gender'].astype('category')
sales['Country'] = sales['Country'].astype('category')
sales['State'] = sales['State'].astype('category')
sales['Product_Category'] = sales['Product_Category'].astype('category')
sales['Sub_Category'] = sales['Sub_Category'].astype('category')

In [21]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              5000 non-null   datetime64[ns]
 1   Day               5000 non-null   int64
 2   Month             5000 non-null   object
 3   Year              5000 non-null   int64
 4   Customer_Age      5000 non-null   int64
 5   Customer_Gender   5000 non-null   category
 6   Country           5000 non-null   category
 7   State             5000 non-null   category
 8   Product_Category  5000 non-null   category
 9   Sub_Category      5000 non-null   category
 10  Product           5000 non-null   object
 11  Order_Quantity    5000 non-null   int64
 12  Unit_Cost         5000 non-null   int64
 13  Unit_Price        5000 non-null   int64
 14  Profit            5000 non-null   int64
 15  Revenue           5000 non-null   int64
dtypes: category(5), datetime64[ns](1), int64(8), object(2)
memory usage: 456.7+ KB

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Get a summary of the main statistics of the whole data

In [22]:
# your code goes here
sales.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,15.668800,2014.405000,35.933800,11.820400,278.415000,470.680600,291.653400,772.758000
std,8.797783,1.266055,11.087886,9.607841,562.721951,941.590529,457.359971,1306.052588
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-24.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,64.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,25.000000,103.000000,226.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,367.000000,829.250000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,5342.000000,14026.000000

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### What's the mean of `Customers_Age`?

In [23]:
# your code goes here
sales['Customer_Age'].mean()

35.9338

Go ahead and show a <b>density (KDE)</b> and a <b>box plot</b> with the `Customer_Age` data:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### What's the mean of `Order_Quantity`?

In [24]:
# your code goes here
sales['Order_Quantity'].mean()

11.8204

Go ahead and show a <b>histogram</b> and a <b>box plot</b> with the `Order_Quantity` data:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### In which countries were sales made?

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Sort sales by year

Older sales should be at the bottom.

In [38]:
# your code goes here
sales.sort_values(['Year'], inplace=True, ascending=False)

In [39]:
sales.head(3)

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue
3962,2016-07-19,19,July,2016,37,F,United States,California,Accessories,Helmets,"Sport-100 Helmet, Red",25,13,35,533,858
3902,2016-05-20,20,May,2016,39,F,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16,2,5,46,78
3886,2016-03-01,1,March,2016,31,F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Blue",13,13,35,268,437

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reset the current index

Don't keep the old index.

In [40]:
# your code goes here
sales.reset_index(drop=True)

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue
0,2016-07-19,19,July,2016,37,F,United States,California,Accessories,Helmets,"Sport-100 Helmet, Red",25,13,35,533,858
1,2016-05-20,20,May,2016,39,F,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16,2,5,46,78
2,2016-03-01,1,March,2016,31,F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Blue",13,13,35,268,437
3,2016-01-18,18,January,2016,26,F,Australia,Victoria,Accessories,Bottles and Cages,Water Bottle - 30 oz.,1,2,5,2,4
4,2016-06-03,3,June,2016,44,F,Canada,British Columbia,Accessories,Helmets,"Sport-100 Helmet, Black",18,13,35,390,624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2011-03-01,1,March,2011,42,F,Germany,Saarland,Bikes,Road Bikes,"Road-750 Black, 52",1,344,540,99,443
4996,2011-12-05,5,December,2011,48,M,Canada,British Columbia,Bikes,Road Bikes,"Road-750 Black, 48",2,344,540,381,1069
4997,2011-07-30,30,July,2011,31,M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1,1266,2320,1008,2274
4998,2011-12-12,12,December,2011,35,F,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1,1266,2320,567,1833
4999,2011-05-13,13,May,2011,33,M,Australia,Victoria,Bikes,Road Bikes,"Road-250 Black, 52",3,1555,2443,1125,5790

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many sales per year do we have?

In [43]:
sales_year_ordqty = sales[['Year', 'Order_Quantity']]
sales_year_ordqty.groupby('Year').sum()

      Order_Quantity
Year
2011             235
2012             224
2013           11949
2014           17269
2015           13607
2016           15818

In [ ]:
# your code goes here

Go ahead and show a <b>pie plot</b> and a <b>bar plot</b> with the previous data:

In [ ]:
# your code goes here

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Create a new `Cost` column

This column should be:
$$ Cost = Unit\_Cost * Order\_Quantity $$

In [44]:
# your code goes here
sales['Cost'] = sales['Unit_Cost'] * sales['Order_Quantity']

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Create a new `YearMonth` column

This new `YearMonth` column should be the concatenation of `Year` and `Month` columns, separated by a '-'.

In [49]:
# your code goes here
sales['YearMonth'] = sales['Year'].astype('str') + '-' + sales['Month']
#sales['Month'].dtype

In [84]:
sales.head(3)

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue,Cost,YearMonth
3962,2016-07-19,19,July,2016,37,F,United States,California,Accessories,Helmets,"Sport-100 Helmet, Red",25,13,35,533,858,325,2016-July
3902,2016-05-20,20,May,2016,39,F,United States,California,Accessories,Bottles and Cages,Water Bottle - 30 oz.,16,2,5,46,78,32,2016-May
3886,2016-03-01,1,March,2016,31,F,United Kingdom,England,Accessories,Helmets,"Sport-100 Helmet, Blue",13,13,35,268,437,169,2016-March

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How did sales evolve through the years?

Count how many sales we have per `YearMonth`.

In [52]:
# your code goes here
sales['YearMonth'].value_counts()

2015-December    232
2016-April       218
2014-June        215
2013-December    215
2016-May         214
                ...
2012-December      7
2012-February      6
2011-February      6
2011-June          6
2012-March         4
Name: YearMonth, Length: 62, dtype: int64

Go ahead and show a <b>bar plot</b> with the previous data:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Which country has the most sales `quantity of sales`?

In [55]:
# your code goes here
sales[['Country', 'Order_Quantity']].groupby('Country').sum().sort_values(by='Order_Quantity', ascending=False)

                Order_Quantity
Country
United States            20629
Australia                11980
Canada                    8942
United Kingdom            6987
France                    5513
Germany                   5051

Go ahead and show a <b>bar plot</b> of the sales per country:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Get a list of every product sold

In [108]:
# your code goes here
unique_prod_list = sales['Product'].unique
unique_prod_list

<bound method Series.unique of 3962      Sport-100 Helmet, Red
3902      Water Bottle - 30 oz.
3886     Sport-100 Helmet, Blue
3888      Water Bottle - 30 oz.
1571    Sport-100 Helmet, Black
                 ...
3876         Road-750 Black, 52
426          Road-750 Black, 48
4890    Mountain-200 Silver, 38
2322    Mountain-200 Silver, 42
3282         Road-250 Black, 52
Name: Product, Length: 5000, dtype: object>

Create a **bar plot** showing the 10 most sold products (best sellers):

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Can you see any relationship between `Unit_Cost` and `Unit_Price`?

Show a <b>scatter plot</b> between both columns.

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Can you see any relationship between `Order_Quantity` and `Profit`?

Show a <b>scatter plot</b> between both columns.

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Can you see any relationship between `Profit` per `Country`?

Show a grouped <b>box plot</b> per country with the profit values.

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Can you see any relationship between the `Customer_Age` per `Country`?

Show a grouped <b>box plot</b> per country with the customer age values.

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Increase 50 U$S revenue to every sale

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made in `Canada` or `France`?

In [66]:
# your code goes here
orders_per_country = sales[['Country', 'Order_Quantity']].groupby('Country').sum()
orders_per_country.loc[['Canada', 'France']]

         Order_Quantity
Country
Canada             8942
France             5513

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many `Bike Racks` orders were made from Canada?

In [97]:
# your code goes here
sales3 = sales[['Product', 'Sub_Category', 'Country', 'Order_Quantity']]
sales3[(sales3['Sub_Category'] =='Bike Racks') & (sales3['Country'] == 'Canada')]['Order_Quantity'].sum()

42

In [96]:
sales.loc[(sales['Sub_Category'] == 'Bike Racks') & (sales['Country'] == 'Canada')]

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue,Cost,YearMonth
1562,2015-11-11,11,November,2015,34,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1697,2732,1035,2015-November
625,2015-11-17,17,November,2015,29,F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,14,45,120,1033,1663,630,2015-November
2401,2014-03-10,10,March,2014,43,F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,594,225,2014-March

In [92]:
#sales[sales['Product_Category'] == 'Accessories']
sales.loc[sales['Product'].str.contains('Bike')].head()

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue,Cost,YearMonth
1567,2016-06-09,9,June,2016,37,F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,73,118,45,2016-June
1577,2016-02-18,18,February,2016,29,M,United Kingdom,England,Accessories,Cleaners,Bike Wash - Dissolver,21,3,8,98,161,63,2016-February
3652,2016-05-25,25,May,2016,20,F,Australia,New South Wales,Accessories,Cleaners,Bike Wash - Dissolver,28,3,8,111,195,84,2016-May
3763,2016-02-05,5,February,2016,47,M,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,20,3,8,97,157,60,2016-February
4247,2016-05-21,21,May,2016,44,M,United Kingdom,England,Accessories,Cleaners,Bike Wash - Dissolver,8,3,8,37,61,24,2016-May

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made in each region (state) of France?

In [123]:
# your code goes here
sales4 = sales[['Country', 'State', 'Order_Quantity']] 
sales_france = sales4.loc[sales4['Country'] == 'France'].groupby('State').sum()

Go ahead and show a <b>bar plot</b> with the results:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many sales were made per category?

In [ ]:
# your code goes here

Go ahead and show a <b>pie plot</b> with the results:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made per accessory sub-categories?

In [ ]:
# your code goes here

Go ahead and show a <b>bar plot</b> with the results:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made per bike sub-categories?

In [ ]:
# your code goes here

Go ahead and show a <b>pie plot</b> with the results:

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Which gender has the most amount of sales?

In [128]:
# your code goes here
sales[['Customer_Gender', 'Order_Quantity']].groupby('Customer_Gender').sum()

                 Order_Quantity
Customer_Gender
F                         28183
M                         30919

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many sales with more than 500 in `Revenue` were made by men?

In [135]:
# your code goes here
sales.loc[(sales['Customer_Gender'] == 'M') & (sales['Revenue'] > 500)]

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Revenue,Cost,YearMonth
1549,2016-04-07,7,April,2016,31,M,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1,420,769,249,669,420,2016-April
3904,2016-07-03,3,July,2016,32,M,United States,Washington,Accessories,Tires and Tubes,ML Mountain Tire,26,11,30,322,608,286,2016-July
1579,2016-04-03,3,April,2016,32,M,Australia,South Australia,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",1,1266,2320,636,1902,1266,2016-April
1519,2016-03-06,6,March,2016,29,M,Germany,Saarland,Bikes,Road Bikes,"Road-150 Red, 52",2,2171,3578,1526,5868,4342,2016-March
1629,2016-05-10,10,May,2016,52,M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 46",2,1266,2320,2015,4547,2532,2016-May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,2011-03-26,26,March,2011,38,M,United States,California,Bikes,Road Bikes,"Road-150 Red, 52",1,2171,3578,1335,3506,2171,2011-March
888,2011-12-08,8,December,2011,45,M,United Kingdom,England,Bikes,Road Bikes,"Road-650 Black, 60",1,487,783,265,752,487,2011-December
426,2011-12-05,5,December,2011,48,M,Canada,British Columbia,Bikes,Road Bikes,"Road-750 Black, 48",2,344,540,381,1069,688,2011-December
4890,2011-07-30,30,July,2011,31,M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1,1266,2320,1008,2274,1266,2011-July
3282,2011-05-13,13,May,2011,33,M,Australia,Victoria,Bikes,Road Bikes,"Road-250 Black, 52",3,1555,2443,1125,5790,4665,2011-May

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Get the top-5 sales with the highest revenue

In [142]:
# your code goes here
sales[['Product', 'Revenue']].sort_values(by='Revenue', ascending=False).head(5)

               Product  Revenue
743   Road-150 Red, 62    14026
2686  Road-150 Red, 44    14026
1490  Road-150 Red, 62    10627
3530  Road-150 Red, 62    10627
2076  Road-150 Red, 62    10627

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Get the sale with the highest revenue

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### What is the mean `Order_Quantity` of orders with more than 10K in revenue?

In [148]:
# your code goes here
rev_over_10k = sales[sales['Revenue'] > 10000]
rev_over_10k[['Order_Quantity']].mean()

Order_Quantity    3.285714
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### What is the mean `Order_Quantity` of orders with less than 10K in revenue?

In [149]:
# your code goes here
rev_lt_10k = sales[sales['Revenue'] < 10000]
rev_lt_10k[['Order_Quantity']].mean()

Order_Quantity    11.832365
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made in May of 2016?

In [161]:
# your code goes here
sales[sales['YearMonth'] == '2016-May']['Order_Quantity'].sum()

2564

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### How many orders were made between May and July of 2016?

In [163]:
# your code goes here
sales[sales['YearMonth'].between('2016-May','2016-July')]['Order_Quantity'].sum()

0

Show a grouped <b>box plot</b> per month with the profit values.

In [ ]:
# your code goes here

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add 7.2% TAX on every sale `Unit_Price` within United States

In [ ]:
# your code goes here

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)